VITE_SUPABASE_URL=https://diwbpuyvvqcxyjuohzef.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpd2JwdXl2dnFjeHlqdW9oemVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA3MTI1MTksImV4cCI6MjA3NjI4ODUxOX0.krvWSMv6cvNe_Pw3yKY4L4WgxZAaAZiobC-2P1LytN0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpd2JwdXl2dnFjeHlqdW9oemVmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MDcxMjUxOSwiZXhwIjoyMDc2Mjg4NTE5fQ.MiNV1nVkL1SD_08HqmSeHtkdIvB4U67OEI3qnEbJDFs
SUPABASE_MCP_ACCESS_TOKEN=sbp_32ad853661d5a32cf28a54aada837a718397c492
